/* GENERAL LAYOUT */

body {
  background-color: #F5F5F5;
  color: #212121;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  text-align: center;
}

header {
  background-color: #3F51B5;
  box-shadow: 0 2px 7px rgba(0,0,0,0.4);
  color: #FFF;
  position: relative;
}

section {
  background-color: #FFF;
  border-bottom: 1px solid #BDBDBD;
  margin: 0 auto;
  max-width: 650px;
  padding: 15px 20px;
}

h1 {
  font-weight: 700;
  margin: 0;
  padding: 30px 0 5px 0;
}

h2 {
  color: #C5CAE9;
  font-size: 1.25em;
  font-weight: 100;
  margin: 0;
  padding: 5px 0 20px 0;
}

a {
  border-bottom: 1px solid #9E9E9E;
  color: #757575;
  outline: none;
  text-decoration: none;
}

/* ACCELERATION VALUES DISPLAY */

.value {
  margin: 0;
  padding: 5px 0;
}

#x-value, #y-value, #z-value {
  font-family: 'Roboto Mono', monospace;
  font-size: 3.5em;
  letter-spacing: -0.05em;
  margin: 0 5px;
}

#x-value, #x-max {
  color: #D32F2F;
}

#y-value, #y-max {
  color: #303F9F;
}

#z-value, #z-max {
  color: #388E3C;
}

#error-display {
  color: #D32F2F;
  font-weight: 700; 
}

.units {
  color: #757575;
  font-size: 1.25em;
  font-weight: 100;
}

/* MAX VALUES DISPLAY AND RESET */

#max-values {
  position: relative;
}

#max-values .units {
  font-size: 1em;
}

#max-values p {
  margin: 0;
  padding: 5px;
}

#x-max, #y-max, #z-max {
  font-family: 'Roboto Mono', monospace;
  font-size: 1.75em;
  margin: 0 5px;
}

/* BUTTONS */

button {
  background-color: #3F51B5;
  box-shadow: 0 2px 5px rgba(0,0,0,0.5);
  border: none;
  color: #FFF;
  font-size: 1em;
  outline: none;
}

button:disabled {
  background-color: #BDBDBD;
}

button:active {
  background-color: #303F9F;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

#start-stop {
  height: 50px;
  width: 120px;
  margin: 10px 0;
}

#reset-max {
  border-radius: 50%;
  font-size: 0.9em;
  
  height: 60px;
  width: 60px;
  position: absolute;
  top: -20px;
  right: 5%;
}

/* OTHER INFO */

.other-info {
  padding: 15px 20px;
}

.other-info p {
  margin: 10px 20px;
}

/* MEDIA QUERIES */

@media screen and (max-width: 350px) {
  h1 {
    font-size: 1.75em;
  }

  h2 {
    font-size: 1em;
  }

  #reset-max {
    height: 55px;
    width: 55px;
    right: 3%;
  }

  .other-info p {
    margin: 10px 5px;
  }
}