/* GENERAL LAYOUR */

body {
  background-color: #F5F5F5;
  color: #212121;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  text-align: center;
}

header {
  background-color: #3F51B5;
  box-shadow: 0 2px 7px rgba(0,0,0,0.4);
  color: #FFF;
  position: relative;
}

section {
  background-color: #FFF;
  border-bottom: 1px solid #BDBDBD;
  margin: 0;
  padding: 15px 20px;
}

h1 {
  font-weight: 700;
  padding: 30px 0 5px 0;
  margin: 0;
}

h2 {
  font-weight: 100;
  color: #C5CAE9;
  font-size: 1.25em;
  padding: 5px 0 20px 0;
  margin: 0;
}

a {
  border-bottom: 1px solid #9E9E9E;
  color: #757575;
  outline: none;
  text-decoration: none;
}

/* ACCELERATION VALUES DISPLAY */

.value {
  padding: 5px 0;
  margin: 0;
}

#x-value, #y-value, #z-value {
  font-family: 'Roboto Mono', monospace;
  font-size: 3.5em;
  letter-spacing: -0.05em;
  margin: 0 5px;
}

#x-value, #x-max {
  color: #D32F2F;
}

#y-value, #y-max {
  color: #303F9F;
}

#z-value, #z-max {
  color: #388E3C;
}

.units {
  color: #757575;
  font-weight: 100;
  font-size: 1.25em;
}

/* MAX VALUES DISPLAY */

#max-values .units {
  font-size: 1em;
}

#max-values p {
  padding: 5px;
  margin: 0;
}

#x-max, #y-max, #z-max {
  font-family: 'Roboto Mono', monospace;
  font-size: 1.75em;
  margin: 0 5px;
}

/* OTHER INFO */

.other-info {
  padding: 15px 40px;
}

.other-info p {
  margin: 10px 0;
}